abbr {
    cursor: help;
}

iframe#preview {
    height: calc(100vh - 8.5rem);
}

/* Visual indicator of max line length for position descriptions */
textarea.position-limit {
  background-image: linear-gradient(90deg, transparent, transparent 580px, color-mix(in oklab, var(--color-white) 20%, transparent) 581px, transparent 581px);
}
