.data-list.fi-fo-component-ctn {
    gap: 0;
}
abbr {
    cursor: help;
}
.fi-sidebar-header {
    background-color: transparent !important;
    box-shadow: none !important;
}

@media (min-width: 1024px) {
    .fi-topbar {
        position: fixed !important;
        right: 0 !important;

        nav {
            background: transparent !important;
            box-shadow: none !important;
        }
    }
}

iframe#preview {
    height: calc(100vh - 8.5rem);
}

/* Visual indicator of max line length for position descriptions */
textarea.position-limit {
  background-image: linear-gradient(90deg, transparent, transparent 580px, rgb(var(--gray-500)) 581px, transparent 581px);
}
